<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="configFragment">
    <!--공통 CSS-->
    <th:block th:replace="common/styles"></th:block>
    <!--컨텐츠 CSS-->
    <th:block layout:fragment="css"></th:block>
    <!--&lt;!&ndash;공통 js&ndash;&gt;-->
    <!--<th:block th:replace="common/scripts"></th:block>-->
    <!--&lt;!&ndash;컨텐츠 js&ndash;&gt;-->
    <!--<th:block layout:fragment="script"></th:block>-->

</th:block>
</html>